Library
Assembly-*.csproj
Assembly-*.unityproj
TurfWindows*
Temp
obj
git.sln
git-csharp.*
.DS_Store
*.suo
*.sln
*.pidb
Picto.userprefs
*.msh
*.psv
*.tex
*.dat
QCAR/somedata8
QCAR/ts8
*.csproj
*.unityproj
*.DotSettings
Assets/7_Models/Ultimate_Skateboard_FBX/Materials/BUSHING.mat
Assets/7_Models/Ultimate_Skateboard_FBX/Materials/BearingCase.mat
